In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('E:\Data.csv')

In [3]:
train.head()

     State  Rank                    Make/Model  Model Year  Thefts
0  Alabama     1  Chevrolet Pickup (Full Size)        2005     499
1  Alabama     2       Ford Pickup (Full Size)        2006     357
2  Alabama     3                  Toyota Camry        2014     205
3  Alabama     4                 Nissan Altima        2014     191
4  Alabama     4              Chevrolet Impala        2004     191

In [6]:
print(train.columns.values)

['State' 'Rank' 'Make/Model' 'Model Year' 'Thefts']

In [7]:
train.isna().head()

   State   Rank  Make/Model  Model Year  Thefts
0  False  False       False       False   False
1  False  False       False       False   False
2  False  False       False       False   False
3  False  False       False       False   False
4  False  False       False       False   False

In [8]:
print("*****In the train set*****")
print(train.isna().sum())
print("\n")

*****In the train set*****
State         0
Rank          0
Make/Model    0
Model Year    0
Thefts        0
dtype: int64

In [9]:
train.fillna(train.mean(), inplace=True)

In [10]:
print(train.isna().sum())

State         0
Rank          0
Make/Model    0
Model Year    0
Thefts        0
dtype: int64

In [11]:
train['State'].head()

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
Name: State, dtype: object

In [12]:
train['Thefts'].head()

0    499
1    357
2    205
3    191
4    191
Name: Thefts, dtype: int64

In [13]:
train[['State', 'Rank']].groupby(['State'], as_index=False).mean().sort_values(by='Rank', ascending=False)

                   State  Rank
25              Missouri   5.5
33        North Carolina   5.5
24           Mississippi   5.5
1                 Alaska   5.5
26               Montana   5.5
27              Nebraska   5.5
28                Nevada   5.5
30            New Jersey   5.5
31            New Mexico   5.5
32              New York   5.5
34          North Dakota   5.5
22              Michigan   5.5
35                  Ohio   5.5
36              Oklahoma   5.5
37                Oregon   5.5
38          Pennsylvania   5.5
39          Rhode Island   5.5
40        South Carolina   5.5
43                 Texas   5.5
44                  Utah   5.5
46              Virginia   5.5
23             Minnesota   5.5
21         Massachusetts   5.5
11                Hawaii   5.5
2                Arizona   5.5
3               Arkansas   5.5
4             California   5.5
5               Colorado   5.5
6            Connecticut   5.5
9                Florida   5.5
20              Maryland   5.5
10               Georgia   5.5
13              Illinois   5.5
17              Kentucky   5.5
18             Louisiana   5.5
47            Washington   5.5
29         New Hampshire   5.4
8   District Of Columbia   5.4
15                  Iowa   5.4
16                Kansas   5.3
42             Tennessee   5.3
49             Wisconsin   5.3
12                 Idaho   5.2
14               Indiana   5.2
7               Delaware   5.1
48         West Virginia   4.9
0                Alabama   4.9
19                 Maine   4.8
41          South Dakota   4.6
50               Wyoming   4.3
45               Vermont   3.6

In [14]:
train.corr()

                Rank  Model Year    Thefts
Rank        1.000000    0.168044 -0.165138
Model Year  0.168044    1.000000 -0.069855
Thefts     -0.165138   -0.069855  1.000000

In [15]:
train.apply(lambda x: x.count(), axis=1)

0      5
1      5
2      5
3      5
4      5
5      5
6      5
7      5
8      5
9      5
10     5
11     5
12     5
13     5
14     5
15     5
16     5
17     5
18     5
19     5
20     5
21     5
22     5
23     5
24     5
25     5
26     5
27     5
28     5
29     5
      ..
480    5
481    5
482    5
483    5
484    5
485    5
486    5
487    5
488    5
489    5
490    5
491    5
492    5
493    5
494    5
495    5
496    5
497    5
498    5
499    5
500    5
501    5
502    5
503    5
504    5
505    5
506    5
507    5
508    5
509    5
Length: 510, dtype: int64

In [16]:
train.isnull()

     State   Rank  Make/Model  Model Year  Thefts
0    False  False       False       False   False
1    False  False       False       False   False
2    False  False       False       False   False
3    False  False       False       False   False
4    False  False       False       False   False
5    False  False       False       False   False
6    False  False       False       False   False
7    False  False       False       False   False
8    False  False       False       False   False
9    False  False       False       False   False
10   False  False       False       False   False
11   False  False       False       False   False
12   False  False       False       False   False
13   False  False       False       False   False
14   False  False       False       False   False
15   False  False       False       False   False
16   False  False       False       False   False
17   False  False       False       False   False
18   False  False       False       False   False
19   False  False       False       False   False
20   False  False       False       False   False
21   False  False       False       False   False
22   False  False       False       False   False
23   False  False       False       False   False
24   False  False       False       False   False
25   False  False       False       False   False
26   False  False       False       False   False
27   False  False       False       False   False
28   False  False       False       False   False
29   False  False       False       False   False
..     ...    ...         ...         ...     ...
480  False  False       False       False   False
481  False  False       False       False   False
482  False  False       False       False   False
483  False  False       False       False   False
484  False  False       False       False   False
485  False  False       False       False   False
486  False  False       False       False   False
487  False  False       False       False   False
488  False  False       False       False   False
489  False  False       False       False   False
490  False  False       False       False   False
491  False  False       False       False   False
492  False  False       False       False   False
493  False  False       False       False   False
494  False  False       False       False   False
495  False  False       False       False   False
496  False  False       False       False   False
497  False  False       False       False   False
498  False  False       False       False   False
499  False  False       False       False   False
500  False  False       False       False   False
501  False  False       False       False   False
502  False  False       False       False   False
503  False  False       False       False   False
504  False  False       False       False   False
505  False  False       False       False   False
506  False  False       False       False   False
507  False  False       False       False   False
508  False  False       False       False   False
509  False  False       False       False   False

[510 rows x 5 columns]

In [17]:
missing_values = ["n/a", "na", "--"]
train = pd.read_csv("E:\Data.csv", na_values = missing_values)

In [18]:
train.isnull()

     State   Rank  Make/Model  Model Year  Thefts
0    False  False       False       False   False
1    False  False       False       False   False
2    False  False       False       False   False
3    False  False       False       False   False
4    False  False       False       False   False
5    False  False       False       False   False
6    False  False       False       False   False
7    False  False       False       False   False
8    False  False       False       False   False
9    False  False       False       False   False
10   False  False       False       False   False
11   False  False       False       False   False
12   False  False       False       False   False
13   False  False       False       False   False
14   False  False       False       False   False
15   False  False       False       False   False
16   False  False       False       False   False
17   False  False       False       False   False
18   False  False       False       False   False
19   False  False       False       False   False
20   False  False       False       False   False
21   False  False       False       False   False
22   False  False       False       False   False
23   False  False       False       False   False
24   False  False       False       False   False
25   False  False       False       False   False
26   False  False       False       False   False
27   False  False       False       False   False
28   False  False       False       False   False
29   False  False       False       False   False
..     ...    ...         ...         ...     ...
480  False  False       False       False   False
481  False  False       False       False   False
482  False  False       False       False   False
483  False  False       False       False   False
484  False  False       False       False   False
485  False  False       False       False   False
486  False  False       False       False   False
487  False  False       False       False   False
488  False  False       False       False   False
489  False  False       False       False   False
490  False  False       False       False   False
491  False  False       False       False   False
492  False  False       False       False   False
493  False  False       False       False   False
494  False  False       False       False   False
495  False  False       False       False   False
496  False  False       False       False   False
497  False  False       False       False   False
498  False  False       False       False   False
499  False  False       False       False   False
500  False  False       False       False   False
501  False  False       False       False   False
502  False  False       False       False   False
503  False  False       False       False   False
504  False  False       False       False   False
505  False  False       False       False   False
506  False  False       False       False   False
507  False  False       False       False   False
508  False  False       False       False   False
509  False  False       False       False   False

[510 rows x 5 columns]

In [19]:
print (train.isnull().sum())

State         0
Rank          0
Make/Model    0
Model Year    0
Thefts        0
dtype: int64

In [20]:
print (train.isnull().values.any())

False

In [21]:
print (train.isnull().sum().sum())

0

In [22]:
null_columns=train.columns[train.isnull().any()]

In [24]:
print(train[train["State"].isnull()][null_columns])

Empty DataFrame
Columns: []
Index: []

In [26]:
print(train[train["Thefts"].isnull()][null_columns])

Empty DataFrame
Columns: []
Index: []

In [27]:
print(train[train["Rank"].isnull()][null_columns])

Empty DataFrame
Columns: []
Index: []

In [28]:
median_value=train["Rank"].median()

In [29]:
train["Rank"]=train["Rank"].fillna(median_value)

In [30]:
print(train[train["Make/Model"].isnull()][null_columns])

Empty DataFrame
Columns: []
Index: []

In [31]:
print (train.isnull().sum())

State         0
Rank          0
Make/Model    0
Model Year    0
Thefts        0
dtype: int64